create.html.erb

<form id="payment-form">
    <input class="type" type="text" placeholder="Individual or Company">
    <input class="country" type="text" placeholder="Bank Account country">
    <input class="routing-number" type="text" placeholder="Bank Account Routing number">
    <input class="account-number" type="text" placeholder="Bank Account account number">
    <input class="card-number" type="text" placeholder="Credit card number">
    <input class="card-cvc" type="text" placeholder="Credit card cvc">
    <input class="card-expiry-year" type="text" placeholder="Credit card exp-year">
    <input class="card-expiry-month" [type="text" placeholder="Credit card exp-month">
  </form>