<li><%= link_to "Sign up as Student", new_user_registration_path %></li>
<li><%= link_to "Sign up as Teacher", new_teacher_registration_path %></li>

<li><%= link_to "Sign in as Student", new_user_session_path %></li>
<li><%= link_to "Sign in as Teacher", new_teacher_session_path %></li>